<nav class="sidebar d-flex flex-column p-3 bg-primary text-white">
    <h4 class="mb-4">CampusConnect</h4>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item mb-2"><a href="/" class="nav-link text-white active">Home</a></li>
      <li class="nav-item mb-2"><a href="/add-post" class="nav-link text-white">Add Post</a></li>
      <li class="nav-item mb-2"><a href="/search" class="nav-link text-white">Search</a></li>
      <li class="nav-item mb-2"><a href="/messages" class="nav-link text-white">Messages</a></li>
      <li class="nav-item mb-2"><a href="/profile" class="nav-link text-white">Profile</a></li>
    </ul>
  </nav>
  