<div class="trending-section">
    <h5>🔥 Trending</h5>
    <a href="#">#CampusBuzz</a>
    <a href="#">#Hackathon2025</a>
    <a href="#">John Doe</a>
    <a href="#">#PlacementPrep</a>
    <a href="#">Priya.codes</a>
    <a href="#">#TechTalks</a>
    <a href="#">Arjun.tech</a>
    <a href="#">#FunFridays</a>
    <a href="#">#CodeWithUs</a>
    <a href="#">#CampusWiFi</a>
  </div>
  